.navbar-fixed {
	background: #9ac3ff;
}

.navbar-brand {
	height: auto;
}


#subnav {
	background: #599bb4;
}

#subnav a {
	color: #FFF;
}

#body_container {
	min-height: 100%;
}

#project_list {
	list-style-type: none;
}

#project_list li {
	border-bottom: 1px #969797 solid;
}