a {
	cursor: pointer;
}
.messageList ul {
	list-style-type: none;
	padding-left: 0px;
}
.messageList {
	position: relative;
}
.messageList .close-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #5b5b5b;
}

.messageList .close-btn:hover{
	color: #000;
}

.navbar-fixed {
	background: #9ac3ff;
	font-family: 'Myriad Pro Regular';
	font-size: 12pt;
	text-transform: uppercase;
}

.navbar-brand {
	height: auto;
}

#subnav {
	background: #599bb4;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFF;
}

#subnav a {
	color: #FFF;
	padding-right: 12px;
}
.sidebar {
	padding-left: 0px;
}
.sidebar ul {
	list-style-type: none;
	padding-left: 0px;
}

.sidebar ul li {
	padding-left: 0px;
}

.sidebar a {
	color: #808080;
	font-family: 'Myriad Pro Bold';
	font-size: 12pt;
	position: relative;
	display: block;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sidebar a span {
	padding-right: 5px;
}

.sidebar a:hover,
.page-new-project .link-new-project,
.page-my-projects .link-my-projects,
.page-shared-projects .link-shared-projects {
	color: #ffa15c;
}

.sidebar a .highlight {
	background: #ffa15c;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 100%;
	display: none;
}
.sidebar a:hover .highlight,
.page-new-project .link-new-project .highlight,
.page-my-projects .link-my-projects .highlight,
.page-shared-projects .link-shared-projects .highlight{
	display: block;
}

#body_container {
	min-height: 200px;
}

.main-content {
	background: #969797;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 300px;
}

.main-content p {
	color: #dbdbdb;
}

#project_list {
	list-style-type: none;
	padding-left: 0px;
}

#project_list li {
	border-bottom: 1px #969797 solid;
	color: #dbdbdb;
}

.main-content a {
	color: #FFF;
}
#project_list li a {
	color: #FFF;
}

.create-form label{
	color: #dbdbdb;
	font-family: 'Myriad Pro Bold';
	font-size: 12pt;
	text-transform: uppercase;
}

.create-form small, .create-form p {
	color: #dbdbdb;
	font-family: 'Myriad Pro Regular';
	font-size: 10pt;
}

footer {
	background: #5b5b5b;
	color: #dbdbdb;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Myriad Pro Bold";
	color: #dbdbdb;
}

#bookmark_list {
	list-style-type: none;
	padding-left: 0px;
}

#new {
	display: none;
	margin-bottom: 20px;
}

.context {
	padding: 0px 15px;
}

.thumbnail {
	background: #FFF;
}