@charset "UTF-8";
/* CSS Document */

<style type="text/css">
<!--
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}

/* Tips for Elastic layouts 
1. Since the elastic layouts overall sizing is based on the user's default fonts size, they are more unpredictable. Used correctly, they are also more accessible for those that need larger fonts size since the line length remains proportionate.
2. Sizing of divs in this layout are based on the 100% font size in the body element. If you decrease the text size overall by using a font-size: 80% on the body element or the #container, remember that the entire layout will downsize proportionately. You may want to increase the widths of the various divs to compensate for this.
3. If font sizing is changed in differing amounts on each div instead of on the overall design (ie: #sidebar1 is given a 70% font size and #mainContent is given an 85% font size), this will proportionately change each of the divs overall size. You may want to adjust based on your final font sizing.
*/
.oneColElsCtrHdr #container {
	width: 46em;  /* this width will create a container that will fit in an 800px browser window if text is left at browser default font sizes */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 0px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
}
.oneColElsCtrHdr #header { 
	background: #DDDDDD; 
	padding: 0 10px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 
.oneColElsCtrHdr #mainContent {
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #CDEB8B;
}
.body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
	font-size:12px;
}
.style1 {
	padding: 0 20px;
	background: #FFFFFF;
	font-size:12px;
}
.style2 {
	background: #EFFFEF;
	font-size:10px;
}
.style2 {
	background: #FFFFEF;
	font-size:10px;
}
.table {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #CDEB8B;
	font-size:12px;
}
.menu {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: bold;
	color: #588E03;
}
.submenu {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}
.submenu1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
}
.footer {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
}
* {margin:0; padding:0; font:12px Verdana,Arial}
code {font-family:"Courier New",Courier}

#options {width:457px; margin:20px auto; text-align:right; color:#9ac1c9}
#options a {text-decoration:none; color:#9ac1c9}
#options a:hover {color:#033}

#acc {width:320px; list-style:none; color:#033; margin-left:0px; text-align:left;}
#acc2 {width:320px; list-style:none; color:#033; margin-left:-10px; text-align:left;}
#acc h3 {width:320px; border:1px solid #9ac1c9; padding:4px 4px 6px; font-weight:bold; margin-top:3px; cursor:pointer;}
#acc2 h4 {width:320px; border:1px solid #9ac1c9; padding:2px 2px 3px; font-weight:bold; margin-top:3px; cursor:pointer;}
#acc .acc-section {overflow:hidden; background:#fff}
#acc .acc-content {width:320px; padding:5px; margin-left:0px; border:0px dotted #9ac1c9; border-top:none; background:#EFFFEF}
#acc2 .acc-section2 {overflow:hidden; background:#fff}
#acc2 .acc-content2 {width:320px; padding:0px; margin-left:0px; border:0px dotted #9ac1c9; border-top:none; background:#EFFFEF}

#nested {width:425px; list-style:none; color:#033; margin-bottom:15px}
#nested h3 {width:411px; border:1px solid #9ac1c9; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer;}
#nested .acc-section {overflow:hidden; background:#fff}
#nested .acc-content {width:393px; padding:15px; border:1px solid #9ac1c9; border-top:none; background:#fff}
-->
</style>
